/* Base Application Styles */
body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: '微软雅黑';
  box-sizing: border-box;
}

#app{
  width: 940px;
  margin: 0 auto;
  padding: 0 35px;
}

.index{
  // border-left: 1px dashed #333;
  // border-right: 1px dashed #333;
  // border-radius: 2px;
}

.container{
  border-radius: 2px;
  @include blockborder;
  background-color: #fff;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  margin: 0;
  padding: 0;
  list-style: none;
}

p{
  margin: 0;
  padding: 0;
}