/* Base Application Styles */
body {
  background: #fff;
  margin: 0;
  padding: 0;
  color: #464847;
  font-family: ;
  box-sizing: border-box;
}

.index{
  width: 940px;
  margin: 0 auto;
  padding: 0 35px;
  // border-left: 1px dashed #333;
  // border-right: 1px dashed #333;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  margin: 0;
  padding: 0;
  list-style: none;
}

p{
  margin: 0;
  padding: 0;
}