@import './var.scss';
.header-box{
	width: 100%;
	height: 190px;
	position: relative;
	padding-bottom: 30px;
	padding: 30px;
	box-sizing: border-box;
	background-image: url(../images/banner2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	.header-sign{
		overflow: hidden;
		width: 254px;
		position: relative;
		.header-logo{
			line-height: 75px;
			font-size: 40px;
			box-sizing: border-box;
			letter-spacing: 17px; 
			font-family: Arial;
			font-weight: 400;
			margin: 0;
			text-decoration: none;
			padding: 15px 0;
			.header-logo-s{
				color: $red;
			}
			.header-logo-c{
				color: #000;
			}
			.header-logo-o{
				color: $green;
			}
			.header-logo-m{
				color: $blue;
			}
			.header-logo-i{
				color: $gray;
			}
			.header-logo-c2{
				color: $yellow;
			}
		}
		.header-navs{
			width: 96%;
			position: relative;
			overflow: hidden;
			margin-top: 10px;
			.header-nav{
				color: #000;
				background-color: rgba(255,255,255,.25);
				width: 25%;
				float: left;
				padding: 8px 0;
				text-align: center;
				font-size: 15px;
				@include ahover;
			}
		}
	}
	.header-info{
		color: #f6f7f8;
		text-shadow: 1px 1px 5px rgba(0,0,0,.2); 
		position: absolute;
		bottom: 28px;
		right: 150px;
		font-weight: 400;
		font-size: 16px;
	}
	.header-options{
		position: absolute;
		right: 0;
		top: 0;
		padding-top: 20px;
		.header-login,.header-reg{
			color: #fff;
			text-decoration: none;
			margin-right: 10px;
			@include ahover;
			&>a{
				text-decoration: none;
				color: #464847;
				@include ahover;
			}
		}
	}
}