$green: #74b0a1;
$blue: #4b74a7;
$red: #dc4f43;
$yellow: #cf832a;
$gray: #464847;
$lightgray: #d2d6d7;
$buttonborder: 1px solid #999;

$font: #999;

@mixin ahover{
	cursor: pointer;
	&:hover{
		color: $green;
	}
	&:active{
		color: $lightgray;
	}
}

@mixin blockborder{
	border: 1px solid rgba(0,0,0,.08);
}

@mixin btnhover{
	cursor: pointer;
	transition: all .35s;
	&:hover{
		color: #fff;
		background-color: $blue;
		box-shadow: 0 0 1px #333;
	}
	&:active{
		color: $lightgray;
		background-color: $green;
		box-shadow: none;
	}
}

@mixin platepadding{
	padding-bottom: 30px;
}